<h1>Hacker News</h1>

<div id="all-posts">
<% @posts.each do |post| %>
	<div id="post-<%= post.id %>">
		<h3><%= link_to post.title, post %></h3>
		<div><%= post.link %></div>
		<div><%= post.body %></div>
		<div>Votes: <span class="num-votes"><%= post.total_votes %></span></div>
		<%= button_to "Upvote", {controller: 'votes', action: "create", vote: {votable_id: post.id, votable_type: "Post", up: true }}, remote: true %>
		<%= button_to "Downvote", {controller: 'votes', action: "create", vote: {votable_id: post.id, votable_type: "Post", up: false }}, remote: true %>
		<button class="delete-post">X</button>
	</div>
<% end %>
</div>

<form id="post-form">
	Title:<input type="text" id="post-form-title" />
	Link:<input type="text" id="post-form-link" />
	Body:<input type="text" id="post-form-body" />
	<button id="post-form-submit" >Create Post</button>
</form>