<h1><%= @post.title %></h1>
<div><%= @post.link %></div>
<p><%= @post.body %></p>

<div id="post-comments">
	<% @post.comments.each do |comment| %>
		<div class="comment" id="comment-<%= comment.id %>">
			<%= comment.user.email %>
			<%= comment.content %>
			<%= button_to "Upvote", {controller: 'votes', action: "create", vote: {votable_id: comment.id, votable_type: "Comment", up: true }}, remote: true %>
		<%= button_to "Downvote", {controller: 'votes', action: "create", vote: {votable_id: comment.id, votable_type: "Comment", up: false }}, remote: true %>
			<%= button_to "Delete Comment", {controller: 'comments', action: "destroy", post_id: @post.id, id: comment.id },
                                method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
		</div>
	<% end %>
</div>

<% if user_signed_in? %>
	<%= form_for [@post, @comment], remote: true do |f| %>
		Comment: <%= f.text_field :content %>
		<%= f.submit %>
	<% end %>
<% else %>
	<p>Login to leave comments</p>
<% end %>